{% extends "base.html" %}
{% load display_user_full_name %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Messages</h2>

        <a href="{% url 'compose' %}" class="btn btn-primary">
            New Message
        </a>
    </div>

    {% if messages %}

        <div class="table-responsive">
            <table class="table table-hover align-middle">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Sender</th>
                        <th>Subject</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>

                    {% for message in messages %}
                     
                        <tr style="cursor: pointer;">
                            <td>
                                {{ message.create_date|date:"d/m/Y H:i" }}
                            </td>
                            <td>
                                {{ message.sender_user_id | display_user_full_name}}
                            </td>
                            <td onclick="window.location='{% url 'message_detail' message.id %}'">
                                <strong>{{ message.subject }}</strong>
                            </td>
                            <td>
                                <form action="/message_status/{{message.id}}/" method="POST">
                                    {% csrf_token %}
                                {% include 'includes/message_status_select.html' with field_name="message_status" selected_value=message.message_status %}
                                 </form>
                            </td>
                        </tr>
                   
                    {% endfor %}

                </tbody>
            </table>
        </div>

    {% else %}
        <div class="alert alert-info">
            No messages found.
        </div>
    {% endif %}
</div>

{% endblock %}