{% extends 'base.html' %}
{% load display_training_type %}
{% load display_training_status %}

{% block title %}Dashboard | Training Management{% endblock %}

{% block page_title %}
Dashboard
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Welcome -->
    <div class="welcome-section mb-4">

        <div>
            <p>
                Training activites for {{ employee.get_full_name }}.
            </p>
        </div>

    </div>


    <!-- Statistics -->
    <div class="row g-4 mb-4">

        <div class="col-md-6 col-xl-3">
            <div class="stat-card">

                <div class="stat-icon blue">
                    <i class="bi bi-calendar-event"></i>
                </div>

                <div>
                    <span>Total Training Hours</span>
                    <h3>{{ total_training|default:"0" }}</h3>
                </div>

            </div>
        </div>


        <div class="col-md-6 col-xl-3">
            <div class="stat-card">

                <div class="stat-icon orange">
                    <i class="bi bi-clock"></i>
                </div>

                <div>
                    <span>Ongoing Training Hours</span>
                    <h3>{{ ongoing_training|default:"0" }}</h3>
                </div>

            </div>
        </div>


        <div class="col-md-6 col-xl-3">
            <div class="stat-card">

                <div class="stat-icon green">
                    <i class="bi bi-check-circle"></i>
                </div>

                <div>
                    <span>Completed Training Hours</span>
                    <h3>{{ completed_training|default:"0" }}</h3>
                </div>

            </div>
        </div>


    </div>


    <div class="row g-4">

        <div class="col-lg-12">

            <div class="dashboard-card">

                <div class="card-heading">

                    <div>
                        <h5>Training</h5>
                    </div>


                </div>


                <div class="table-responsive">

                    <table class="table training-table">

                        <thead>
                            <tr>
                                <th>Training</th>
                                <th>Trainer</th>
                                <th>Organiser</th>
                                <th>Training Type</th>
                                <th>Start Date</th>
                                <th>Training Hours</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for training in trainings %}

                            <tr>

                                <td>
                                    <strong>
                                        {{ training.training_name }}
                                    </strong>
                                </td>

                                <td>
                                    {{ training.trainer_name }}
                                </td>

                                <td>
                                    {{ training.organiser }}
                                </td>

                                <td>
                                    {{ training.training_type | display_training_type }} 
                                </td>

                                <td>
                                    {{ training.start_date|date:"d M Y" }}
                                </td>

                                <td>
                                    {{ training.training_hours }}
                                </td>

                                <td>
                                    <span class="status  {{ training.training_status | display_training_status | lower }} ">
                                        {{ training.training_status | display_training_status }} 
                                    </span>
                                </td>

                            </tr>

                            {% empty %}

                            <tr>
                                <td colspan="4" class="text-center py-4">
                                    No training records found.
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}